/* #region Base styles */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding: 120px 0;
}

.section-title{
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

    margin-bottom: 72px;
}

 body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
 }
/* Reset */
ul, ol {
list-style-type: none;
margin: 0;
padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

 a {
text-decoration: none;
color: currentColor;
 }


button{
    padding: 0;
    border: 1px solid transparent;
    font-family: inherit;
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
display: block;
max-width: 100%;
height: auto;
}

/* #endregion */
/* #region Header */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;

}

.logo-part {
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-menu-item {
}

.nav-menu-link {
    transition: colour 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
    display: block;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

        

}

.nav-menu-link.current::after {
    position: relative;
}


.nav-menu-link.current::before {
content: '';
position: absolute;
left: 0;
bottom: -1px;

width: 100%;
height: 4px;
border-radius: 2px;

background-color: #404bbf;

}

.nav-menu-link:hover,
.nav-menu-link:focus
.nav-menu-link.current {
color:#404bbf;
}


.contacts {
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-item {}

.contacts-link {
    display: block;
    padding: 24px 0;
    transition: colour 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
/* #endregion */

/* #region Socials */
.socials {}

.socials-item {}

.socials-link {}
/* #endregion */

/* #region Hero */

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-container {
    text-align: center;
}

.hero-wrapper {
 max-width: 1440px;
 margin: 0 auto;
 background-image: url()
}



.hero-title {

    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;

        max-width: 496px;
        margin: 0 auto 48px;
}
/* #endregion */

/* #region Buttons */

.btn {
    display: block;
    margin: 0 auto;

    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
    

}
.btn:hover,
.btn:focus{
    background-color: #404bbf;
}

.btn-accent {
    background-color: #4d5ae5;

}

/* #endregion */

/* #region Benefits */

.icon-bf {
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        padding: 24px 100px;
}

.benefits-container{}

.benefits {
 
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-item {
    width: 264px;
}

.benefits-caption {
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.benefits-desc {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* #endregion */

/* #region Team */
.team-container{

}

.team {
    background-color: #f4f4fd;
  
}

.team-title {
   
}

.team-content {
    padding: 32px 16px;
}

.team-list {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
}

.team-item {
    max-width: 264px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
}

.team-ill {}

.team-name {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

    margin-bottom: 8px;
}

.team-subtitle {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-socials {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-socials-item {
    width: 40px;
    height: 40px;
}

.team-socials-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #4d5ae5;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
    background-color: #404bbf;
}

.team-socials-icon {
    fill: #ffffff;
}
/* #endregion */

/* #region Portfolio */
.portfolio-container{}

.portfolio {}

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-content{
    border: 1px solid #e7e9fc;
        border-top: none;
        padding: 32px 16px;
}

.portfolio-ill {}

.portfolio-name {
    margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-subtitle {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(77, 90, 229, 0.9);
    color: #ffffff;

    padding: 40px 32px;

    transform: translateY(100%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0);
}
/* #endregion */

/* #region Footer */
.footer-container {
display: flex;
align-items: baseline;
gap: 120px;

}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
        
}
.footer-logo-part {
color: #4d5ae5;
}

.footer-slogan {
    max-width: 264px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-container {
    display: flex;
    align-items: flex-start;
    gap: 120px;
}

.footer-info {
    max-width: 264px;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #4d5ae5;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-social-icon {
    fill: #ffffff;
}
/* #endregion */